@media (max-width: 1100px) {
    .header {
        justify-content: center;
        margin-top: 1em;
    }

    .logo {
        font-size: 1.4em;
        text-align: center;
    }

    .header__items-container {
        display: none;
    }

    .terminal {
        display: none;
    }

    .waves-img {
        display: none;
    }

    .resume {
        padding-top: 1em;
        grid-template-columns: 1fr;
    }

    .grid-margin {
        margin-inline: 0.5em;
    }

    .pet__container__description {
        p {
            margin-top: 0.5em;
        }
    }

    .resume__text {
        font-size: 0.8em;
    }

    .resume__images {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        /*background-color: white;*/

        img {
            width: 80%;
        }
    }

    .wrapper {
        margin-top: 1em;
    }

    #grid-technologies {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .h {
        font-size: 2em;
        margin-top: 1em;
    }

    .technologies__h {
        transform: rotate(0);
    }

    .technologies__container {
        align-items: center;
        justify-content: space-around;
        img {
            width: 8em;
        }
    }

    .technologies {
        padding-top: 1em;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5em;
        width: 100%;
    }

    .pets {
        display: flex;
        flex-direction: column;
    }

    .pet__container {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .pet__container__description {
        h4 {
            margin-bottom: 0;
        }
    }

    .pet__container__description__stack-grid {
        margin: 0.5em 0;
        display: flex;

        img {
            width: 4em;
        }
    }


    .form-container {

    }
}